/* deco */

html {
  font-size: 62.5%;
}

body {
  margin: 2rem;
  font-size: 2.2em;
  background: #d98d56;
}

table {
  width: 60%;
  margin: auto;
  border-collapse: separate;
  background: beige;
}

caption {
  margin-bottom: 1em;
  color: #fff;
}

th,
td {
  padding: .4em;
}

td {
  padding-left: 0
}

th {
  text-align: left;
}

td {
  text-align: right;
}

