/*
Objectif : reproduisez l'image jointe aussi fidèlement que possible
*/

/* Reset */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 2rem;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

article {
  color: #fff;
  padding: .5rem;
}

article:nth-child(odd) {
  background: tan;
}

article:nth-child(even) {
  background: peru;
}